{% load static %}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- tab icon -->
  <link rel="icon" href="./assets/favicon.jpeg">
  <link rel="stylesheet" href="static/css/blog.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  <title>Chacon | Portfolio</title>
</head>



<body>
{% block content %}

{% endblock %}
    
</body>
    <!--footer>
        <p>Created by Tomas Chacon, © 2022 >
        <a href="https://github.com/westoleaboat" target="_blank">
            <img src="static/githublogo.png" alt="logo"></img></a>
    </footer-->
</html>
