{% load static %}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
  <title>{% block title %}Portfolio{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
  <link href="{% static "css/blog.css" %}" rel="shortcut icon" type="image/png">
</head>



<!--body style="background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);"-->
<body style="background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);"><!-- style="background-color: #494399;"-->
{% block content %}

{% endblock %}
    
</body>
    <!--footer>
        <p>Created by Tomas Chacon, © 2022 >
        <a href="https://github.com/westoleaboat" target="_blank">
            <img src="static/githublogo.png" alt="logo"></img></a>
    </footer-->
</html>
