{% load static %}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
  <title>{% block title %}Portfolio{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
  <link href="{% static "css/blog.css" %}" rel="shortcut icon" type="image/png">
</head>



<!--body style="background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);"-->
<body style="background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);"><!-- style="background-color: #494399;"-->
{% block content %}
    <!--div class="welcome-container"-->
    <!--header>
        <p>My Portfolio site!</p>
    </header-->
    <!--/div-->
<!--section class="topic-container main-content">
        <H1>TESTING</H1>


        <div class="menu">
            <button class="menu-item" onclick="openCity('privacy')">Privacy</button>
            <button class="menu-item" onclick="openCity('selfhosting')">Self Hosting</button>
            <button class="menu-item" onclick="openCity('bitcoin')">Bitcoin</button>
            <button class="menu-item" onclick="openCity('foss')">Free and Open Source</button>
            <button class="menu-item" onclick="openCity('alert')">Alert</button>
        </div>

        <div id="privacy" class="tab topic">
            <div class="content-title">
                <h2>Privacy</h2>
                <p>London is the capital city of England.</p>

                
            </div>
            <div class="content-item">

            </div>
        </div>

        <div id="alert" class="tab topic" style="display:none">
            <div class="content-title">
                <h2>Alert</h2>
                <p>Alert.</p>


            </div>
            <div class="content-item">

            </div>
        </div>
        

        <div id="selfhosting" class="tab topic" style="display:none">
            <div class="content-title">
                <h2>Self Hosting</h2>
                <p>Paris is the capital of France.</p>
            </div>

            <div class="content-item">
                <h3>The Embassy</h3>
                <p>This open source project by Start9 Labs is a great addition to your self hosting stack.
                    It's an operating system that enables anyone to host a variety of open source projects on their own small server</p>
            </div>
        </div>

        <div id="bitcoin" class="tab topic" style="display:none">
            <div class="content-title">
                <h2>Bitcoin</h2>
                <p>Tokyo is the capital of Japan.</p>
            </div>
            <div class="content-item">
                    <h3>Ronindojo</h3>
                    <p>A true privacy focused full bitcoin node</p>
            </div>
            <div class="content-item">
                <h3>Umbrel</h3>
                <p>Easy beginner friendly node</p>
        </div>
        </div>

        <div id="foss" class="tab topic" style="display: none">
            <div class="content-title">
                <h2>Foss</h2>
                <p>London is the capital city of England.</p>
            </div>
            <div class="content-item">
                <h3>TEXT more text</h3>
            </div>

        </div>

    </div>

        <script>
        function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
        }
        </script>
    </section-->

    {% endblock %}
    

</body>
    <!--footer>
        <p>Created by Tomas Chacon, © 2022 >
        <a href="https://github.com/westoleaboat" target="_blank">
            <img src="static/githublogo.png" alt="logo"></img></a>
    </footer-->
</html>
