{% extends "blog/base.html" %}
<!DOCTYPE HTML>

<body style="background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);">

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Portfolio{% endblock %}</title>
</head>

<body>
    {% block content %}
        <section class="header">
            <h1>Hi! my name is Tomas Chacon</h1>
            <h3>A self-taught programmer interested in data analysis, circular economy, eco-friendly energy sources and efficiency on a macro scale.</h3>
            <div class="profile">
                <div class="profile-info">
                    <h1>About me</h1>
                    <p style="font-size:25px">
                    I am an Environmental Engineer who started programming as a hobby, I started doing data analysis for my bachelor thesis on microbiology and yeast fermentation, and later developed to other branches as a way to improve my engineering skills. On my free time I deal with Linux Distros, technology research and try to run my own servers.
                    </p>
                </div>
                <div class="profile-img">
                    <!--{% load static %} -->
                    <!--img src="{% static 'cv-big-photo2.png' %}" alt="large-profile"></img--> 
                </div>
            </div>
        </section>

    <!-- Section 3 - Projects  -->
        <section class="projects">
            <h1 class="aligncenter">Projects</h1>
            <div class="project">
                <h2 class="aligncenter">Automatic work report PDF</h2>
                <div class="content">
                    {% load static %} 
                    <img class="content-img" src="{% static 'pdf_report.png' %}" alt="pdf report image"></img>

                    <div class="content-info">
                        <p>
                        Time saving is a valuable perk in most work places.
                        This program came out as a response for the paperwork
                        created during production requiring analysis and
                        sensible data categorization. This executable runs a stopwatch allowing you to create a time-stamp with the <b>datetime package</b> and log your process information
                        automatically, a PDF report containing raw data is created using the <b>FPDF module</b>, and can be accessed from anywhere online with the <b>Filestack client package</b>. Tkinter <b>messagebox module</b> is used to interact with the user. Save hours of paperwork and automate your process documentation with a single click.
                        <br>
                        <br>
                        <br>
                        <br>
                        <a target="_blank" rel="noopener noreferrer" class="fancylink" href="https://github.com/westoleaboat/automatic-report-pdf">Source code</a> or <a target="_blank" class="fancylink" href="https://replit.com/@chacotasprod/pdf-report?embed=1">Try me online</a> (click the top-right 'Run' button)
                        </p>
                    </div>
                </div>
            </div>

            <div class="project">
                <h2 class="aligncenter">QRcode reader</h2>
                <div class="content">
                        <!-- {% load static %} -->
                    <img src="{% static 'qr-code-gen.png' %}" class="content-img" alt="qr code reader image"/>
                    <div class="content-info">
                        <p>
                        Thanks to Python, you can generate a QR code in 4 lines of script using the <b>qrtools package</b>, while doing a QR code reader happens to be a bit more tricky. This reader is personally one of the most interesting projects I have done, given the versatility of elements to combine between mouse click events, image manipulation and using computer vision for image analysing.<br>
                        The script starts by maximizing a transparent window on which the x and y coordinates of the mouse clicks will be used as variables with the <b>mouse package</b>  to generate an image with the <b>PIL ImageGrab package</b>, triggering the actual GUI and showing the created image to scan, <b>openCV</b> is used to detect if the image contains a QR code and the data will be displayed. An 'image-file.png' will be created and you may need sudo privileges to run the app, also you will need an existing QR code to scan before executing the script. Once you run the app click the top-left corner followed by clicking the bottom-right corner of the code you want to read.<br>
                        <br>
                        <br>
                        <br>
                        <a target="_blank" rel="noopener noreferrer" class="fancylink" href="https://github.com/westoleaboat/qr-codeReader">Source code</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="project">
                <h2 class="aligncenter">Text-to-binary translator</h2>
                <div class="content">
                        <!-- {% load static %} -->
                        <img src="{% static 'bnr-trans-img.png' %}" class="content-img" alt="text to binary image"/>
                    <div class="content-info">
                        <p>
                        As an approach to algorithms in cybersecurity as eliptical curves
                        and encryption, this project is a first step into more complex forms
                        of <b>data-hashing</b>. Dictionaries and strings were the learning objective to deal with text-data manipulation in Python.
                        <br>
                        <br>
                        <br>
                        <br>
                        <a target="_blank" rel="noopener noreferrer" class="fancylink" href="https://github.com/westoleaboat/binary-translator-gui">Source code</a> or <a target="_blank" class="fancylink" href="https://replit.com/@chacotasprod/binary-text?embed=1">Try me online</a> (click the top-right 'Run' button)
                        </p>
                    </div>
                </div>
            </div>

            <div class="project">
                <h2 class="aligncenter">SQL database Manager</h2>
                <div class="content">
                    {% load static %} 
                    <img src="static/sqlite-db.png" class="content-img" alt="database GUI image"/>
                    <div class="content-info">
                        <p class="text-description">
                        Databases are an excelent way of storing information, and should not be annoying to deal with. This project also came as a result of the paperwork created while managing a warehouse <b>inventory</b>. When launching the app for the first time a database with a profile table is created using the <b>sqlite3 package</b>. The app is managed through a GUI which displays real time data, you can Delete and Add new elements as you wish, while Editing a record will open a new window allowing you to modify the database record.
                        <br>
                        <br>
                        <br>
                        <br>
                        <a target="_blank" rel="noopener noreferrer" class="fancylink" href="https://github.com/westoleaboat/sqlite-database">Source code</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="project">
                <h2 class="aligncenter">Stopwatch & Lap counter</h2>
                <div class="content">
                    <!-- {% load static %} -->
                    <img src="{% static 'timer-img.png' %}" class="content-img" alt="stopwatch and lap counter image"/>
                    <div class="content-info">
                        <p class="text-description"><!-- style="padding-left:250px;"-->
                        The abilty to control time is a power many would like to have.
                        This project came as one of my earliest executables in Tkinter.
                        A timer was chosen to improve my understanding of loops
                        and IF statements, it uses the <b>math</b> and <b>datetime packages</b> to collect time events and updating the displayed text. This same stopwatch format is used among other apps created.
                        <br>
                        <br>
                        <br>
                        <br>
                        <a target="_blank" rel="noopener noreferrer" class="fancylink" href="https://github.com/westoleaboat/python_timer">Source code</a>
                        </p>
                    </div>
                </div>
            </div>

            
        </section>


        <footer>
            <div class="footer-content">
                <div class="footer-item">
                    <h4>Other projects: </h4>
                    <ul>
                        <li><a href="https://github.com/westoleaboat/embassy-buildguide-ESP" target="_blank" class="fancylink" style="color: white;">Translation of technical documentation</a> for selfhosting FOSS</li>
                        <li><a href="https://github.com/westoleaboat/Bitcoin" target="_blank" class="fancylink" style="color: white;">FUD research</a></li>
                        <li>3D Modelling and printing</li>
                        <!--li>Selfhosting FOSS software</li-->
                        <li>This website is made with the <a href="Https://github.com/westoleaboat/my_portfolio" class="fancylink" target="_blank" style="color: white;">Python Django framework</a></li>
                    </ul>
                    </div>
                <div class="footer-item">
                    <h4>Contact me:</h4>
                    <div>
                        <a>
                            <img src="static/email-logo1white.png" alt="email logo" style="height:25px"/>
                        </a><span> tomaschacon732@hotmail.com</span>
                    </div>
                    <br>
                    <div>
                        <a>
                            <img src="static/phone-logo1white.png" alt="phone logo" style="height:35px"/>
                        </a><span> +358 452200289</span>
                    </div>
                    <br>
                    <div>
                        <a href="https://github.com/westoleaboat" target="_blank">
                            <img src="static/GitHub-Mark-Light-32px.png" alt="github logo"/>
                        </a><span> westoleaboat</span>
                    </div>
                    <br>
                    <div>
                        <a href="https://www.linkedin.com/in/tomas-chacon-76560993/" target="_blank">
                            <img src="static/linkedin-logo1white.png" alt="linkedin logo" style="height:35px"/>
                        </a><span>Tomas Chacon</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- {% endblock %} -->
    <!--/div-->
</body>
</html>

</body>
    <!--footer>
        <p>Created by Tomas Chacon, © 2022 >
        <a href="https://github.com/westoleaboat" target="_blank">
            <img src="static/githublogo.png" alt="logo"></img></a>
    </footer-->
</html>
