/* General Website Style rules */
body {
    font-family: "Helvetica", Sans-Serif;
}

.container{
    display:grid;
    /*height:100vh;*/
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 0.7fr 0.7fr 0.2fr;
    grid-template-areas:
      "header header header header"
      "content1 content1 content1 content1"
      "content2 content2 content2 content2"
      "content3 content3 content3 content3"
      "more more more more"
      "footer footer footer footer";
    grid-gap:0.2rem;
}

.header {
    grid-area:header;
    background:#f9f7f7;
    padding:40px;
    margin:30px;
    text-align:center;
}

.column-2{
    float:left;
    width:45;
}

.section-heading{
    text-align:center;
}

.inside-heading{

}

.img-grid{
    float:left;
    width:40%;
    height:auto;
}

.text-description{
    width:40%;
    height:auto;
    float:right;
    padding-right:140px;
    font-size:20px;
}

grid-content{
    display:grid;
    padding:2rem;
    grid-template-columns:400px 1fr;
    gap: 1rem;
    align-items:center;
    max-width:1200px;
    margin:0 auto;
    font:500 100%/1.5 system-ui;
}

#content1{
    grid-area:content1;
}
#content2{
    grid-area:content2;
}
#content3{
    grid-area:content3;
}

.footer{
    /*grid-area:footer;*/
}

a {
    color: #112d4e;
}

img {
    /*display:block;*/
    /*max-width:100%;*/
    /*height:auto;*/
    /*max-height:22rem;*/
}

.overlay {
    position:absolute;
    bottom:0;
    left:100%;
    right:0;
    background-color:#008CBA;
    overflow: hidden;
    width:0;
    height:100%;
    transition: .5s ease;
}

.btn-white {
    color: #fff;
/*#FF33FC*/
    text-decoration: none;
    border: 3px solid #fff;
    padding: .7rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #FF33FC;
    cursor: pointer;
    margin-top: .8rem;
    font-family: "DM Sans",sans-serif;
}

.linkedin {
    width:100%;
}


.graph-text {
    font-size:20px;
    /*font-weight:bold;*/
    line-height:2;
    text-align:left;
    text-justify: inter-word;
    padding-left:70px;
    /*padding-top: 100px;*/
}

/* Create two eqcual columns that float next to each other */
.column-2 {
    float: left;
    width: 45%;
}


/* Section 3 projects*/


.inside-heading {
    /*margin-left: 380px;*/
    text-align: center;
}

.project-text {
    text-align: center;
    font-size: 60px;
}

/* Hover classes for individual project boxes */

.project-3:hover .overlay {
    width:100%;
    left:0;
}

.project-3-text {
    white-space: nowrap;
    color:white;
    font-size:20px;
    position:absolute;
    overflow:hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* table formatting */
/*.table-style{
    text-align:center;
    grid-area:table-style;
    font-size:30px;
}*/

.table-footer {
    /*text-align:center;*/
    /*margin:100px;*/
    padding:25px;
    margin:auto;
    width:30%;
    grid-area:footer;
    font-size:30px;
}

/* wide column */

.column-1 {
    grid-area:more;
    width: 85%;
    height: auto;
    position:relative;
    /*padding-top: 10%;*/
    padding: 25px;
    /*padding-bottom: 70px;*/
    margin: auto;
    /*margin-bottom: 50px;*/
    /*margin-top: 75px;*/
    /*margin-left: 332.5;*/
    /*margin-left: 50px;*/
    background-color: #209BFF;
}

/* fifth section education & skill */

.column-2a {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    height: 450px;
    margin: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: white;

    /*background-color:white;*/
}


/* Footer */

/*a.menu:hover {
    background-color:yellow;
    font-size:20px;
}*/

.icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
}

.icon-style:hover {
    background-color: yellow;
    padding:5px;
}

@media only screen and (max-width:550px){
    .text-description{
        padding-right:0px;
    }
}
