* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica", Sans-Serif;
}

.header {
    display: grid;
    grid-area:header;
    background:#f9f7f7;
    padding:40px;
    margin:50px;
    text-align:center;
}

.header h1 {
    font-size: 40px;
    padding: 20px;
}

.header h3 {
    font-size: 25px;
    max-width: 70vw;
    justify-self: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-info {
    max-width: 40vw;
}

.profile-img {
    width: 350px;
    height: 362px;
    background-image: url(cv-big-photo2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aligncenter{
    text-align:center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    font-size: 3rem;
}

.project {
    max-width: 80vw;
    margin: 50px;
    padding: 10px;
}

.project h2 {
    padding: 35px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.content-img {
    max-width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.content-info{
    max-width: 100wv;
    font-size:20px;
    padding-left: 15px;
    padding-right: 15px;
}

.fancylink {
    color:#112d4e;
    text-decoration: none;
    position: relative;
}

.fancylink::after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transition: transform 250ms ease-in;
    transform: scaleX(0);
    transform-origin: right;
}

.fancylink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

a {
    color: #112d4e;
}

/* .overlay {
    position:absolute;
    bottom:0;
    left:100%;
    right:0;
    background-color:#008CBA;
    overflow: hidden;
    width:0;
    height:100%;
    transition: .5s ease-in-out;
} */

/* Section 3 projects*/

/* .project-text {
    text-align: center;
    font-size: 60px;
} */

/* Hover classes for individual project boxes */

/* .project-3:hover .overlay {
    width:100%;
    left:0;
}

.project-3-text {
    white-space: nowrap;
    color:white;
    font-size:20px;
    position:absolute;
    overflow:hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
} */

/* wide column */

/* .column-1 {
    width: 60vw;
    height: auto;
    position:relative;
    padding: 25px;
    margin: auto;
    background-color: #209BFF;
    transition: transform 300ms ease-in-out;
} */

/* fifth section education & skill */


/* Footer */

footer {
    background-color: rgba(0, 0, 0, 0.4);
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    color: white;
}

.footer-item {
    padding: 15px;
}

.footer-item h4 {
    padding-bottom: 10px;
}

.footer-item ul {
    list-style: none;
    line-height: 1.5;
}

.icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
}

.icon-style:hover {
    background-color: yellow;
    padding:5px;
}

@media only screen and (max-width: 1000px) {
    .profile-img {
        height: 300px;
        width: 290px;
    }

    .content {
        grid-template-columns: 1fr;
    }

}

@media only screen and (max-width: 900px) {
    .profile-img {
        height: 260px;
        width: 250px;
    }
}

@media only screen and (max-width:800px){
    .profile {
        flex-direction: column;
    }

    .profile-info {
        max-width: 90vw;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        width: 70vw;
    }
}
